<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ExamIA | Mi Agenda</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/agenda.css') }}">

</head>

<body>

<header>

<div class="logo">

🧠 Exam<span>IA</span>

</div>

<h3>Mi Agenda</h3>

</header>

<div class="container">

<div class="panel">

<h2>Mi Cita</h2>

{% if cita %}

<div class="info">

<div class="dato">

<h4>📅 Fecha</h4>

<p>{{ cita.fecha_cita }}</p>

</div>

<div class="dato">

<h4>🕒 Horario</h4>

<p>

{{ cita.horario_inicio }}
-

{{ cita.horario_fin }}

</p>

</div>

<div class="dato">

<h4>📌 Estado</h4>

<p class="estado">

{{ cita.estado }}

</p>

</div>

</div>

<div class="mensaje">

✅ Preséntate 15 minutos antes de tu cita.

</div>
{% if entrevista %}

<div class="panel resultado-entrevista">

    <h2>Resultado de la Entrevista</h2>

    {% if entrevista.resultado == 'Aprobado' %}

        <div class="resultado aprobado">

            <h3>🟢 ¡Felicidades!</h3>

            <p>
                Has sido <strong>APROBADO</strong> en la entrevista.
            </p>

            <p>
                En los próximos días se te asignará un examen técnico personalizado.
            </p>

        </div>

    {% elif entrevista.resultado == 'Rechazado' %}

        <div class="resultado rechazado">

            <h3>🔴 Proceso Finalizado</h3>

            <p>
                Gracias por participar.
            </p>

            <p>
                En esta ocasión no has sido seleccionado para continuar.
            </p>

        </div>

    {% else %}

        <div class="resultado pendiente">

            <h3>🟡 Entrevista en evaluación</h3>

            <p>
                Tu entrevista aún está siendo revisada por el entrevistador.
            </p>

        </div>

    {% endif %}

</div>

{% endif %}

{% else %}

<div class="sin-cita">

<h3>No tienes una cita asignada.</h3>

<p>

Cuando el administrador te asigne una cita,
la información aparecerá aquí.

</p>

</div>

{% endif %}

</div>

</div>
{% if examen %}

<div class="container">

    <div class="panel">

        <h2>💻 Examen Técnico Personalizado</h2>

        <div class="info">

            <div class="dato">

                <h4>Nombre del examen</h4>

                <p>{{ examen.nombre_examen }}</p>

            </div>

            <div class="dato">

                <h4>Estado</h4>

                <p class="estado">

                    {{ examen.estado }}

                </p>

            </div>

        </div>

        <div class="mensaje">

            Tu examen técnico ya fue asignado.
            Cuando estés listo podrás iniciarlo.

        </div>

        <br>

        <a
            href="{{ url_for('examen_tecnico', id=examen.id_examen_asignado) }}"
            class="btn-examen">

            🚀 Iniciar examen

        </a>

    </div>

</div>

{% endif %}
</body>

</html>