<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ExamIA | Administración</title>
<link rel="stylesheet" href="css/panel.css">

</head>

<body>

<div class="sidebar">

<div class="logo">
🧠 Exam<span>IA</span>
</div>

<a href="#">Dashboard</a>
<a href="#">Usuarios</a>
<a href="#">Exámenes</a>
<a href="#">Supervisión</a>
<a href="#">Reportes</a>
<a href="#">Configuración</a>

</div>

<div class="main">

<h1>Centro de Administración</h1>

<br>

<div class="stats">

<div class="card">
<h1>324</h1>
<p>Aspirantes</p>
</div>

<div class="card">
<h1>28</h1>
<p>Exámenes Activos</p>
</div>

<div class="card">
<h1>12</h1>
<p>ESP32 Online</p>
</div>

<div class="card">
<h1>15</h1>
<p>Alertas IA</p>
</div>

</div>

<div class="grid">

<div class="panel">

<h2>Resumen General</h2>

<br>

<p>✔ Sistema funcionando correctamente.</p>
<br>

<p>✔ Todas las cámaras sincronizadas.</p>
<br>

<p>✔ IA procesando exámenes en tiempo real.</p>

</div>

<div class="panel">

<h2>Alertas</h2>

<div class="alert red">
🚨 Movimiento sospechoso.
</div>

<div class="alert yellow">
⚠ Desviación ocular prolongada.
</div>

<div class="alert green">
✅ Identidad validada.
</div>

</div>

</div>

</div>

</body>
</html>